@font-face {
    font-family: "Playlist Caps";
    src: url("../fonts/Playlist Caps.otf")
}

@font-face {
    font-family: "Playlist Ornament";
    src: url("../fonts/Playlist Ornament.otf")
}

@font-face {
    font-family: "Playlist Script";
    src: url("../fonts/Playlist Script.otf")
}

@font-face {
    font-family: "The Bold Font";
    src: url("../fonts/theboldfont.ttf")
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #d94e4b;
    padding-top: 30vh;
    font-size: 3rem;
}

h2 {
    font-size: 4rem;
    padding-top: 5vh;
}

h2, h3 {
    color: #BEEEEB;
}

h3 {
    font-size: 3.5rem;
}

header {
    font-family: "The Bold Font";
    background-image: url("../images/Colossus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

}

h4 {
    font-family: "Playlist Script";
    color: #d94e4b;
    font-size: 2.2rem;
}

.about {
    font-family: "Playlist Script";
}

h5 {
    font-family: "The Bold Font", serif;
    font-size: 2rem;

}

.img-fluid {
    height: auto;
    width: 300px;
}

.hr {
    height: 3vh;
    background-color: #d94e4b;
}

.link1, .link2 {
    background-color: #BEEEEB;
    color: black;
    text-decoration-style: unset;
    width: 20vw;
    height: 50px;
    text-align: center;
    line-height: 30px;
}

.link1:hover, .link2:hover {
    text-decoration: unset;
    background-color: #a7d1ce;
    color: black;
}

.clavier {
    background-image: url("../images/clavier.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.poile {
    background-image: url("../images/poile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}
footer {
    background-color: #c0cfc8;
}
.nav-link {
    color: black;
    font-family: "Open Sans";
}
.nav-link:hover{
    color: #d94e4b;
}